@{
    ViewData["Title"] = "Welcome";
}
<!DOCTYPE html>
<html>
<head>
    <title>管理员后台</title>
    <meta charset="UTF-8">
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="~/css/AdminActionindex.css">
    <script src="~/js/adminAction.js"></script>
</head>
<body>
    <div id="menu">
        <div class="logo">
            <p style="font-size: 20px;color:white">管理员</p>
        </div>
        <ul>
            <li><a href="/adminaction/Delete">首页</a></li>
            <li>
                <a href="/adminaction/Delete">删除商品信息</a>
            </li>
            <li>
                <a href="/adminaction/DeleteBuyer">删除买家信息</a>
            </li>
            <li>
            <a asp-controller="Entry" asp-action="Logout">退出登录</a>
            </li>
        </ul>
    </div>
    <form>
        <h3>请输入你要删除信息的商品id</h3>
        <input type="text" id="ID" name="ID" required />
        <input type="button" id="ceshi1" value="搜索" onclick="search(this)" />
        <table class="table table-bordered" style="margin-top:10px;">
            <tr>
                <th style="text-aligin:left;">Commodity_ID ：</th>
                <td>
                    <input type="text" id="uid" name="uid" class="form-control" placeholder="查找到的Commodity_ID" />
                </td>
                <th style="text-aligin:left;">Commodity_Name ：</th>
                <td>
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="查找到的Commodity_Name" />
                </td>
            </tr>
            <tr>
                <th style="text-aligin:left;">Publisher ：</th>
                <td>
                    <input type="text" id="Publisher" name="Publisher" class="form-control" placeholder="查找到的Publisher" />
                </td>
                <th style="text-aligin:left;">Price ：</th>
                <td>
                    <input type="text" id="Price" name="Price" class="form-control" placeholder="查找到的Price" />
                </td>
            </tr>
            <tr>
                <th style="text-aligin:left;">Publish_Time ：</th>
                <td>
                    <input type="text" id="Time" name="Time" class="form-control" placeholder="查找到的Publish_Time" />
                </td>
                <th style="text-aligin:left;">LowestPrice ：</th>
                <td>
                    <input type="text" id="LowestPrice" name="LowestPrice" class="form-control" placeholder="查找到的LowestPrice" />
                </td>
            </tr>
            <tr>
                <th style="text-aligin:left;">DownloadURL ：</th>
                <td>
                    <input type="text" id="Downloadurl" name="Downloadurl" class="form-control" placeholder="查找到的DownloadURL" />
                </td>
                <th style="text-aligin:left;">SalesVolume ：</th>
                <td>
                    <input type="text" id="Volume" name="Volume" class="form-control" placeholder="查找到的SalesVolume" />
                </td>
            </tr>
            <tr>
                <th style="text-aligin:left;">Description ：</th>
                <td>
                    <input type="text" id="Description" name="Description" class="form-control" placeholder="查找到的Description" />
                </td>
                <th style="text-aligin:left;">PictureURL ：</th>
                <td>
                    <input type="text" id="PictureURL" name="PictureURL" class="form-control" placeholder="查找到的PictureURL" />
                </td>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;">
                    <input type="button" class="btn btn-default" onclick="tempdelete()" value="删除" color:white; /><!-- 删除信息并返回-->
                    <input type="button" class="btn btn-default" onclick="    javascript: window.history.back();" value="返回" />
                </th>
            </tr>
        </table>

    </form>
</body>
</html>