<!DOCTYPE html>
<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
<meta name="viewport" content="width=device-width" />
<link href="~/css/ShoppingCart.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/js/ShoppingCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> test </title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in pic" id="element">
                <div>
                    <div id="pic">
                        <div id="preview">
                            <img :src="pic[index]" height="180" width="320">
                        </div>
                    </div>
                    <div id="detailInfo">
                        <div id="Name">{{name[index]}}</div>
                        <br />
                        <div id="Price">￥{{price[index]}}</div>
                    </div>
                    <div id="operation">
                        <button class="btn" @@click="deleteCommodity(index,id[index])"><span>删除商品</span></button>
                        <br />
                        <br />
                        <button class="btn" @@click="getDetail(id[index])"><span>查看详情</span></button>
                    </div>
                    <div id="choice">
                        <input class="wl" name="index" type="checkbox" v-model="checked[index]"/>
                    </div>
                </div>
                <hr class="line" width="100%" color=#987cb9 SIZE=3>
            </li>
        </ul>
        <div>
            <button id="pay" class="btn" @@click="buy()"><span>结算</span></button>
            <button id="clear" class="btn" @@click="clear()"><span>清空</span></button>
            <button class="btn" @@click="showchoice()" style="display:none"><span>显示选框值</span></button>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                id: [],
                pic: [],
                name: [],
                price: [],
                time:[],
                checked:[]
            },
            mounted: function () {
                this.initial();
            },
            methods: {
                test: function () { alert("how"); },

                initial: function () {
                        console.log("ok");
                        var arr;
                        var that = this;
                        axios.post("/ShoppingCart/GetCartDetail").then(function(response){
                            arr = response.data;
                            let len = arr.length;
                            console.log("length:" + len);
                            var arr1 = new Array(len);
                            var arr2 = new Array(len);
                            var arr3 = new Array(len);
                            var arr4 = new Array(len);
                            var arr5 = new Array(len); 
                            for (var i = 0; i < len; i++) {
                                arr1[i] = response.data[i].CommodityID;
                                arr2[i] = response.data[i].CommodityName;
                                arr3[i] = response.data[i].Price;
                                arr4[i] = response.data[i].PictureURL;
                                arr5[i] = response.data[i].JoinTime;}
                            var arr6 = new Array(len);
                            that.checked=arr6; 
                            that.id = arr1;
                            that.name = arr2;
                            that.price = arr3;
                            that.pic = arr4;
                            that.time = arr5;
                            console.log(that.id);
                            console.log(that.name);
                            console.log(that.price);
                            console.log(that.pic);
                    }, function (err) { });
                },

                deleteCommodity: function (p1, p2) {
                    this.id.splice(p1, 1);
                    this.pic.splice(p1, 1);
                    this.name.splice(p1, 1);
                    this.price.splice(p1, 1);
                    this.time.splice(p1, 1);
                    this.checked.splice(p1, 1);
									  axios.post("/ShoppingCart/DeleteCommodity", { ID: p2 }).then(function (response) {
                        console.log(response);
                        console.log(response.data.id);
                       // alert("已删除ID为" + response.data + "的商品");
                    })
                },//删除ID为p2的商品，把ID传回

                buy: function () {
                    console.log(this.checked);
                    var len = this.checked.length;
                    let res = [];
                    var totP = 0;
                    for (var i = 0; i < len; i++) {
                        if (this.checked[i] == true) {
                            let vote = {};
                            console.log(this.name[i]);
                            console.log(this.id[i]);
                            console.log(this.price[i]);
                            console.log(this.time[i]);
                            console.log(this.pic[i]);
                            vote.CommodityID = this.id[i];
                            vote.CommodityName = this.name[i];
                            vote.Price = this.price[i];
                            vote.PictureURL = this.pic[i];
                            vote.JoinTime = this.time[i];
                            console.log(vote);
                            res.push(vote);
                            totP += parseInt(this.price[i]);
                        }
                    }
                    axios.post("/ShoppingCart/SetCartOrder", { items:res,tot_money:totP }).then(function (response) {
                        window.location = "/Purchase/ConfirmOrder";
                       
                    })

                },
            
                getDetail: function (p1) {
                    //axios.post("/Commodity/Details?CommodityID="+p1, { ID: p1 }).then(function (response) {   //TBA!!!
                   // })
                    window.location = "/Commodity/Details?CommodityID=" + p1;
                },//点击游戏名字将id传回后端

                clear: function () {
                    console.log("清空购物车");
                    let len = this.pic.length;
                    for (var i = len-1; i >= 0; i--) {
                        this.deleteCommodity(i, this.id[i]);
                    }
                    axios.get("ShoppingCart/ClearCart").then(function (response) {
                        console.log(response.data);
                    });
                },
            }
        })
    </script> 
</body>
</html>

