<!DOCTYPE html>
<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
<meta name="viewport" content="width=device-width" />
<link href="~/css/ShoppingCart.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/js/ShoppingCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> test </title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in pic" id="element">
                <div>
                    <div id="pic">
                        <div id="preview">
                            <img :src="pic[index]" height="180" width="320">   
                        </div>
                    </div>
                    <div id="detailInfo">
                        <div id="Name">{{name[index]}}</div>
                        <br />
                        <div id="Price">￥{{price[index]}}</div>
                    </div>
                    <div id="operation">
                        <button class="btn" @@click="deleteCommodity(index,id[index])"><span>删除商品</span></button>
                        <br />
                        <br/>
                        <button class="btn" @@click="getDetail(id[index])"><span>查看详情</span></button>
                    </div>
                </div>
                <hr class="line" width="100%" color=#987cb9 SIZE=3>
            </li>
        </ul>
        <button id="pay" class="btn" @@click="pay(price,id)"><span>结算</span></button>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                id:[],
                pic: [],
                name: [],
                price:[]
            },
            mounted: function () {
                this.initial();
            },
            methods: {
                test: function () { alert("how"); },
                initial: function () {
                    console.log("ok");
                    var that = this;
                    axios.get("/Purchase/InitialData").then(function (response) {
                        that.name = response.data.name;
                        that.id = response.data.id;
                        that.pic = response.data.pic;
                        that.price = response.data.price; 
                    }, function (err) { });
                },
                deleteCommodity: function (p1, p2) {
                    this.id.splice(p1, 1);
                    this.pic.splice(p1, 1);
                    this.name.splice(p1, 1);
                    this.price.splice(p1, 1);
                    axios.post("/Purchase/DeleteFromShoppingCart", { ID: p2 }).then(function (response) {
                        console.log(response);
                        console.log(response.data.id);
                        alert("已删除ID为" + response.data + "的商品");
                    })
                },//删除ID为p1的商品，把ID传回接口
                pay: function (p1, p2) {
                    var totalPrice = 0;
                    var length = p1.length;
                    for (var i = 0; i < length; i++) {
                        totalPrice += parseInt(p1[i]);
                    }
                    if (totalPrice > 0) {
                        alert("总金额" + totalPrice + "元");
                        axios.post("/Purchase/CreateOrder").then(function (response) {
                            console.log(response);
                        });
                    }
                    else
                        alert("请选购商品后再结算");
                },
                getDetail: function (p1) {
                    axios.post("Purchase/GetCommodityDetail", { ID: p1 }).then(function (response) {
                        alert(response.data);
                    })
                }//点击游戏名字将id传回后端
            }
        })
    </script> 
</body>
</html>

